<li id="bookmark-{{ bookmark.id }}">
    <a href="{{ bookmark.url }}" target="_blank">
        [{{ bookmark.id }}] {{ bookmark.title or bookmark.url }}
    </a>
    {% if bookmark.tags %}
        (Tags: {% for tag in bookmark.tags %}#{{ tag.name }} {% endfor %})
    {% endif %}
    <button hx-post="/api/bookmarks/{{ bookmark.id }}/delete"
            hx-target="#bookmark-{{ bookmark.id }}"
            hx-swap="outerHTML">
    </button>
    <form
        hx-post="/api/bookmarks/{{ bookmark.id }}/update"
        hx-target="#bookmark-{{ bookmark.id }}"
        hx-swap="outerHTML">
        <input type="text" name="new_title" placeholder="{{ bookmark.title or '' }}">
            <button type="submit">Update</button>
    </form>
</li>