<li id="bookmark-{{ bookmark.id }}">
    <a href="{{ bookmark.url }}" target="_blank">
       <img src="https://www.google.com/s2/favicons?domain={{ bookmark.url | domain }}&sz=16"> {{ bookmark.title or bookmark.url }}
    </a>
    {% if bookmark.description %}
        <p class="description">{{ bookmark.description }}</p>
    {% endif %}
    {% if bookmark.tags %}
        <div class="tags">
            {% for tag in bookmark.tags %}  
                <span class="tag">{{ tag.name }}</span>
            {% endfor %}
        </div>
    {% endif %}
    <button hx-post="/api/bookmarks/{{ bookmark.id }}/delete"
            hx-target="#bookmark-{{ bookmark.id }}"
            hx-swap="outerHTML">X
    </button>
    <button type="button"
        hx-get="/api/bookmarks/{{ bookmark.id }}/edit"
        hx-target="#bookmark-{{ bookmark.id }}"
        hx-swap="outerHTML">Edit
    </button>
</li>